* {
    border: 0;
    padding: 0;
    margin: 0;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

#closeeditnick,
#closeeditplace {
    margin-inline: 0;
}

body {
    overflow: hidden;
}

body>span {
    display: flex;
    justify-content: space-between;
}

body>span>a {
    display: block;
    width: max-content;
}

body>span>a:nth-of-type(2)>button>img {
    height: 16px;
}

.msg {
    margin-block: auto;
    font-size: 50px;
    font-weight: 700;
}

.msg>a {
    color: rgb(255, 141, 77);
    font-weight: 700;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.wrapper {
    border: 2px solid rgb(38, 38, 38);
    border-radius: 10px;
    box-shadow: 6px 6px 0px 1px rgb(30, 30, 30);
    background: linear-gradient(273deg, rgba(255, 239, 230, 1) 0%, rgba(255, 141, 77, 0.78) 100%);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
}

#targettime {
    font-size: small;
}

#targetplace {
    font-weight: bold;
    font-size: xxx-large;
}

.forecastitem {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 7px;
}

.forecastitem * {
    color: #FF8D4C;
}

.forecastitem>span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    font-size: smaller;
    align-items: center;
}

.forecastitem>span>img {
    height: 13px;
}

input {
    color: black;
    height: min-content;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    border: 2px solid rgb(38, 38, 38);
    border-radius: 10px;
    box-shadow: 6px 6px 0px 1px rgb(30, 30, 30);
    padding: 10px;
    transition: .2s ease-in-out;
}

.wallpaper {
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform: translateX(110%);
    padding: 30px;
    gap: 20px;
    flex-direction: column;
    border: 2px solid rgb(38, 38, 38);
    border-radius: 10px;
    box-shadow: 6px 6px 0px 1px rgb(30, 30, 30);
    background: rgba(255, 239, 230, 1);
}

.wallpaper p {
    color: rgb(255, 141, 77);
    font-weight: 700;
    font-size: 48px;
}

.wallpaper>span {
    justify-content: space-between;
}

#showwallpaper {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.show {
    animation: showingwallpaper ease-in-out .3s forwards;
}

@keyframes showingwallpaper {
    from {
        transform: translateX(110%);
    }

    to {
        transform: translateX(0%);
    }
}

.hide {
    animation: hideingwallpaper ease-in-out .3s forwards;
}

@keyframes hideingwallpaper {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(110%);
    }
}

.wallpaper>span,
.wallpaper>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.wallpaper>div {
    gap: 20px;
}

.wallpaper>div>div {
    transition: .3s ease-in-out;
    width: 142px;
    height: 80px;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 5px;
    box-shadow: 6px 6px 0px 1px rgb(30, 30, 30);
}

.card-front:hover,
.wallpaper>div>div:hover {
    cursor: pointer;
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0px 1px rgb(30, 30, 30);
}
.card-front:active,
.wallpaper>div>div:active {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 0px 1px rgb(30, 30, 30);
}
input:hover,
button:hover {
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0px 1px rgb(30, 30, 30);
}
input:active,
button:active {
    transform: translate(4.5px, 4.5px);
    box-shadow: 1.5px 1.5px 0px 1px rgb(30, 30, 30);
}


.info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.wrapper>.info>span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;
    font-size: xx-large;
}

#forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card-front {
    gap: 15px;
transition: .3s ease-in-out;
    border: 2px solid rgb(26, 26, 26);
    border-radius: 12px;
    box-shadow: 6px 6px 0px 1px rgb(30, 30, 30);
    background: rgb(255, 245, 240);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

b {
    font-weight: bold;
}

button {
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 0px 1px rgb(30, 30, 30);
    margin: 10px;
    padding: 10px;
    background: #ffff;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    transition: .3s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: translate(1.5px, 1.5px);
    box-shadow: .5px .5px 0px 1px rgb(30, 30, 30);
}

.card-front>p {
    font-size: 80px;
}

.card-front>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 7px;
}

.card-front * {
    color: black;
}

.card-front>div>span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.card-front>div>p:first-of-type {
    font-size: smaller;
}



.card-container {
    perspective: 1000px;
    width: 450px;
    height: 130px;
    margin: 20px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    border: 2px solid rgb(26, 26, 26);
    border-radius: 12px;
    box-shadow: 6px 6px 0px 1px rgb(30, 30, 30);
    background: rgb(255, 245, 240);
    padding: 15px;
    color: black;
    font-size: 24px;
    transform: rotateY(180deg)
}

.removed-card {
    transform: rotateY(180deg);
}

.notification {
    border-radius: 12px;
    background: rgb(255, 245, 240);
    padding: 10px;
    position: absolute;
    bottom: 20px;
    font-weight: 500;
    color: rgb(255, 141, 77);
    left: 50%;
    transform: translate(-50%, 150%);
}

.shownotification {
    animation: shownotification forwards .3s ease-in-out;
}

.hidenotification {
   animation: hidenotification forwards .3s ease-in-out;
}

@keyframes shownotification {
    from {
        transform: translate(-50%,150%);
    }

    to {
        transform: translate(-50%,0);
    }
}

@keyframes hidenotification {
    from {
        transform: translate(-50%,0);
    }

    to {
        transform: translate(-50%,150%);
    }
}